export SCW_DEFAULT_ORGANIZATION_ID="215d7434-7429-43e4-b93f-edfd57e2677d"
export SCW_DEFAULT_PROJECT_ID="536545d1-5684-450b-832b-3f8c14e7986f"
export SCW_ACCESS_KEY="SCWYPYQD6FJA9HWVBE47"

source .secret
